Subject: {{.GetText "Please reset your password"}}
From: {{.GetText "Polyglottis Support"}} <support@polyglottis.org>
To: {{.Data.User}} <{{.Data.Email}}>
{{.GetText "Apparently you lost your Polyglottis password."}}

{{.GetText "Don't worry! You can use the following link within the next two hours to reset your password:"}}

{{.Context.ProtocolAndHost}}/user/reset_password/{{.Data.User}}/{{.Data.Token}}

{{.GetText "If you don't use this link within 2 hours, it will expire. To get a new password reset link, visit"}} {{.Context.ProtocolAndHost}}/user/forgot_password

{{.GetText "Thanks,"}}
{{.GetText "Polyglottis Support"}}