{{define "angular-fields"}}
<div class="property">{{.GetText "Language"}} <a href="mailto:support@polyglottis.org">{{.GetText "(Not in the list? let us know by email!)"}}</a></div>
	<select name="Language"
			ng-model="Language"
			ng-options="lang.Text for lang in languages track by lang.Value">
	<option value="">-- {{.GetText "Please select"}} --</option>
	</select>
	{{if .Data.errors.Language}}<div class="error">{{.GetText .Data.errors.Language}}</div>{{end}}
	<div class="hint">{{.GetText "Select one language (or language family)."}}</div>

<div ng-if='flavors[Language.Value]["TEXT"].length > 0'>
	<div class="property">{{.GetText "Language Comment for New Flavor"}}</div>
	<input class="formInput" type="text" name="MainComment" ng-model="MainComment">
	{{if .Data.errors.MainComment}}<div class="error">{{.GetText .Data.errors.MainComment}}</div>{{end}}
	<div class="hint">{{.GetText "What makes your new version different from the existing one?"}}
	{{.GetText "Please write in {{Language.Text}}."}}</div>
</div>

<div ng-if='flavors[Language.Value]["TEXT"].length == 1'>
	<div class="property">{{.GetText "Language Comment for Existing Flavor"}}</div>
	<input class="formInput" type="text" name="OtherComment" ng-model="OtherComment">
	{{if .Data.errors.OtherComment}}<div class="error">{{.GetText .Data.errors.OtherComment}}</div>{{end}}
	<div class="hint">{{.GetText "Write a comment on the existing version."}}
	{{.GetText "Please write in {{Language.Text}}."}}</div>
</div>
{{end}}
