{{define "content"}}
<div class="content" id="content">
	{{template "actions" .}}
	{{template "extract-content" .}}
</div>
{{end}}

{{define "actions"}}
<ul id="actions" class="actions">
{{if or .Data.HasA .Data.HasB}}
<li><a href={{.LinkRead}} class="action actionable">Read</a></li>
<li class="menu"><span class="label action actionable">{{.GetText "Edit"}}</span><div class="menuBody editMenu">
{{if .Data.HasA}}<div class="menuSide">
	<div class="languageHeader">{{.LanguageA}}</div>
	<ul>
	<li><a href={{.LinkEdit "a" "text"}} class="action actionable">{{.GetText "Text"}}</a></li>
	<li><a class="action missing">{{.GetText "Audio"}}</a></li>
	<li><a class="action missing">{{.GetText "Transcription"}}</a></li>
	</ul>
</div>{{end}}
{{if .Data.HasB}}<div class="menuSide">
	<div class="languageHeader">{{.LanguageB}}</div>
	<ul>
	<li><a href={{.LinkEdit "b" "text"}} class="action actionable">{{.GetText "Text"}}</a></li>
	<li><a class="action missing">{{.GetText "Audio"}}</a></li>
	<li><a class="action missing">{{.GetText "Transcription"}}</a></li>
	</ul>
</div>{{end}}
<div class="other-actions">
	<a class="panel-action" href="{{.LinkNewFlavor}}">{{.GetText "New translation"}}</a>
	<a class="panel-action" href="/extract/edit/new">{{.GetText "New extract"}}</a>
</div>
</div></li>
{{end}}
</ul>
{{end}}