{{define "frame-content"}}
	<div class="extractContent" id="extractContent">
  <h1> {{template "string" .Nest .Data.flavorA.Title}} </h1>
	<div id="body">
  {{range .Data.flavorA.Blocks}}
  {{template "block" $.Nest .}}
  {{end}}
		</div>
		<hr/>
  <p> {{.Data.flavorA.Summary}} </p>
	</div>
{{end}}

{{define "string"}}
{{if .Data.Missing}}
<div class="missing">{{.GetText "missing content"}}</div>
{{else}}
<div>{{.Data.Content}}</div>
{{end}}
{{end}}

{{define "block"}}
{{if .Data.Missing}}
<p class="missing">{{.GetText "missing content"}}</p>
{{else}}
<p>{{range .Data.Units}}{{template "string" $.Nest .}}{{end}}</p>
{{end}}
{{end}}
