{{define "frame-content"}}
<div>
<form ng-app ng-controller="LanguageCtrl" ng-submit="submit()">
<table class="language-select"><tbody>
	<tr>
		<td>{{.GetText "A-side"}}</td><td>{{.GetText "B-side"}}</td>
	</tr>
	<tr>
		<td>
			{{.GetText "Language:"}}
			<select ng-model="languageA"
							ng-change="changeA(languageA)"
							ng-options="lang.Label for lang in languages track by lang.Code">
			</select>
		</td><td>
			{{.GetText "Language:"}}
			<select ng-model="languageB"
							ng-change="changeB(languageB)"
							ng-options="lang.Label for lang in languages track by lang.Code">
					<option value="">-- {{.GetText "Nothing"}} --</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<div ng-if="languageA.Text.length > 1">
				{{.GetText "Text version:"}}
				<select ng-model="textA"
								ng-options="text.Comment for text in languageA.Text">
				</select>
			</div>
			<div ng-if="languageA.Text.length == 1">
				{{.GetText "There is only one version in this language."}}
			</div>
		</td>
		<td>
			<div ng-if="languageB && (languageB.Text.length > 1)">
				{{.GetText "Text version:"}}
				<select ng-model="textB"
								ng-options="text.Comment for text in languageB.Text">
				</select>
			</div>
			<div ng-if="languageB && (languageB.Text.length == 1)">
				{{.GetText "There is only one version in this language."}}
			</div>
		</td>
	</tr>
	<tr>
		<td>
			{{.GetText "Summary:"}}
			{{"{{textA.Summary}}"}}
		</td>
		<td>
		<div ng-if="languageB">
			{{.GetText "Summary:"}}
			{{"{{textB.Summary}}"}}
			</div>
		</td>
	</tr>
</tbody></table>
<input type="submit" value="{{.GetText "Display selection"}}">
</form>
</div>
	<div class="extractContent" id="extractContent">
  <h1> {{template "string" .Nest .Data.flavorA.Title}} </h1>
	<div id="body">
  {{range .Data.flavorA.Blocks}}
  {{template "block" $.Nest .}}
  {{end}}
		</div>
		<hr/>
  <p> {{.Data.flavorA.Summary}} </p>
	</div>
{{end}}

{{define "string"}}
{{if .Data.Missing}}
<div class="missing">{{.GetText "missing content"}}</div>
{{else}}
<div>{{.Data.Content}}</div>
{{end}}
{{end}}

{{define "block"}}
{{if .Data.Missing}}
<p class="missing">{{.GetText "missing content"}}</p>
{{else}}
<p>{{range .Data.Units}}{{template "string" $.Nest .}}{{end}}</p>
{{end}}
{{end}}
