{{define "content"}}
<div class="panel">
	<div class="panelOptionList">
		<div class="panelOption">
			<input type="checkbox" id="opt-translation" checked data-dojo-type="dijit/form/CheckBox"/>
			<label for="opt-translation" id="i18n-translation">Translation</label>
		</div>
		<div class="panelOption">
			<input type="checkbox" id="opt-transcript" data-dojo-type="dijit/form/CheckBox"/>
			<label for="opt-transcript" id="i18n-transcription">Transcription</label>
		</div>
	</div>
</div>
<div class="content" id="content">
	<ul id="actions" class="actions"></ul>
	{{template "flavor" .}}
</div>
{{end}}

{{define "flavor"}}
	<div class="extractContent" id="extractContent">
  <h1> {{template "string" .Nest .Data.flavorA.Title}} </h1>
	<div id="body">
  {{range .Data.flavorA.Blocks}}
  {{template "block" $.Nest .}}
  {{end}}
		</div>
		<hr/>
  <p> {{.Data.flavorA.Summary}} </p>
	</div>
{{end}}

{{define "string"}}
{{if .Data.Missing}}
<div class="missing">{{.GetText "missing content"}}</div>
{{else}}
<div>{{.Data.Content}}</div>
{{end}}
{{end}}

{{define "block"}}
{{if .Data.Missing}}
<p class="missing">{{.GetText "missing content"}}</p>
{{else}}
<p>{{range .Data.Units}}{{template "string" $.Nest .}}{{end}}</p>
{{end}}
{{end}}