<!DOCTYPE HTML>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/css/{{.Css}}.css" media="screen, projection" rel="stylesheet" type="text/css" />
    {{if .Angular}}
			{{if .AngularLocal}}
				<script src='/static/js/angularjs/{{.AngularVersion}}/angular.min.js'></script>
			{{else}}
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/{{.AngularVersion}}/angular.min.js"></script>
			{{end}}
    {{end}}
    {{template "meta" .}}
  </head>
  <body>
    <div class="banner">
      <div id="bannerContent" class="bannerContent">
        <a class="home" href="/">
					<div class="logo banner-logo_50"></div>
          <div class="bannerTitle">Polyglottis</div>
        </a>
        <div class="account">
        {{if .LoggedIn}}
        {{.UserName}}
        <a class="signout" href="/user/signout">{{.GetText "Sign out"}}</a>
        {{else}}
        <a class="signup" href="/user/signup">{{.GetText "Create an account"}}</a>
        <a class="signin" href="/user/signin{{if ne .Context.Url "/"}}?return_to={{.Context.Url}}{{end}}">{{.GetText "Sign in"}}</a>
        {{end}}
        </div>
        <div class="clearboth"></div>
      </div>
    </div>
    <div class="panel">
			<a href="/">{{.GetText "Main page"}}</a>
			{{template "panel-content" .}}
		</div>
    {{template "content" .}}
  </body>
	{{if .Angular}}<script>{{template "angular-script" .}}</script>{{end}}
</html>
{{define "angular-script"}}{{end}}
{{define "panel-content"}}{{end}}

{{define "meta"}}
<meta property="og:title" content="{{.Title}}" />
<meta property="og:url" content="{{.CanonicalUrl}}" />
{{if or .Description .DescriptionLitteral}}<meta property="og:description" content="{{if .Description}}{{.GetText .Description}}{{else}}{{.DescriptionLitteral}}{{end}}" />{{end}}
<meta property="og:image" content="http://polyglottis.org/logo_128.png" />
<meta property="og:image:width" content="128" />
<meta property="og:image:height" content="128" />
<meta property="og:image:type" content="image/png" />
{{end}}