<!DOCTYPE HTML>
<html>
  <head>
    <title>{{.Title}}</title>
    <link href="/static/css/{{.Css}}.css" media="screen, projection" rel="stylesheet" type="text/css" />
    {{if .Angular}}
    <script src='/static/js/angular.min.js'></script>
    <script>{{template "angular-script" .}}</script>
    {{end}}
  </head>
  <body>
    <div class="banner">
      <div id="bannerContent" class="bannerContent">
        <a class="home" href="/">
					<div class="logo banner-logo_50"></div>
          <div class="bannerTitle">Polyglottis</div>
        </a>
        <div class="account">
        {{if .LoggedIn}}
        <a class="button newextract" href="/extract/edit/new">{{.GetText "New extract"}}</a>
        {{.UserName}}
        <a class="button signout" href="/user/signout">{{.GetText "Sign out"}}</a>
        {{else}}
        <a class="button signup" href="/user/signup">{{.GetText "Create an account"}}</a>
        <a class="button signin" href="/user/signin{{if ne .Context.Url "/"}}?return_to={{.Context.Url}}{{end}}">{{.GetText "Sign in"}}</a>
        {{end}}
        </div>
        <div class="clearboth"></div>
      </div>
    </div>
    {{template "content" .}}
  </body>
</html>