{{define "panel-content"}}
<div class="panel-div">
	<div class="panel-header">{{.GetText "Actions"}}</div>
	<a class="panel-action" href="/extract/edit/new">{{.GetText "New extract"}}</a>
</div>
{{end}}

{{define "content"}}
<div class="content home">
	<h1>{{.GetText "Welcome!"}}</h1>
	<p>
		{{.GetText "Please specify which kind of language extracts you are after:"}}
	</p>
	<div ng-app="homeApp" ng-controller="HomeCtrl">
		<form ng-submit="fetchExtracts(LanguageA, LanguageB, ExtractType)">
			<div class="select">
				<span class="label">{{.GetText "Language:"}}</span>
				<select ng-model="LanguageA"
								ng-options="lang as lang.Text for lang in AllLanguages | filter:languageAllowed">
					<option value="">-- {{.GetText "Any"}} --</option>
				</select>
			</div>
			<div class="select">
				<span class="label">{{.GetText "Translation:"}}</span>
				<select ng-model="LanguageB"
								ng-options="lang as lang.Text for lang in AllLanguages | filter:languageAllowed">
					<option value="">-- {{.GetText "Any"}} --</option>
				</select>
			</div>
			<div class="select">
				<span class="label">{{.GetText "Extract Type:"}}</span>
				<select ng-model="ExtractType" ng-options="e.Text for e in ExtractTypes track by e.Value">
					<option value="">-- {{.GetText "Any"}} --</option>
				</select>
			</div>
			<input class="submit" type="submit" value="{{.GetText "Search"}}">
		</form>
		<div class="results">
			<div ng-if="ResultCount == 0">{{.GetText "No results found"}}</div>
			<div ng-if="ResultCount != 0">
				<div class="result-count">{{.GetText "Number of results:"}} {{"{{ResultCount}}"}}</div>
				<div class="result" ng-repeat="item in Results">
					<div ng-repeat="flavor in item.Summaries | nonEmpty">
						<a ng-href="/extract/{{"{{item.Slug}}"}}/{{"{{flavor.Language}}"}}?at={{"{{flavor.FlavorId}}"}}">{{"{{flavor.Title || '"}}{{.GetText "No title"}}{{"'}}"}}</a>
						<div class="summary">{{"{{flavor.Summary}}"}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}